.chp::first-letter {
  font-size: 3rem;
  font-weight: bolder;
}

h3::first-line {
  font-weight: bolder;
  font-size: 5rem;
}

h3 {
  position: relative;
  width: 50vw;
  margin: 30px auto;
}

h3::before {
  content: "";
  border: 2px solid crimson;
  width: 83%;
  height: 100%;
  position: absolute;
  left: -24px;
  box-sizing: border-box;
  z-index: -2;
}

h3::after {
  content: "";
  background: rgb(220, 20, 60);
  width: 83%;
  height: 90%;
  top: 11px;
  left: -10px;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;
}
