/* 
transform: translate(), scale(), rotate(), skew()
transition: property, duration and delay
pseudo elements
*/

/* heading element */

.header h1::first-line {
  font-size: 3rem;
  color: seagreen;
}

.header h1 {
  width: 20vw;
  margin: auto;
  padding: 5px;
  text-align: center;
  position: relative;
  font-family: "Updock", cursive;
  letter-spacing: 5px;
  opacity: 0.8;
}

.header h1::before {
  content: "";
  position: absolute;
  border: 5px solid lightseagreen;
  width: 100%;
  height: 100%;
  top: -4px;
  left: -4px;
}

/* paragraph element */

.desc p {
  width: 80%;
  text-align: justify;
  margin: 50px auto;
  font-size: 1.2em;
  position: relative;
  color: lightcoral;
}

.desc p::first-letter {
  font-size: 3em;
  font-weight: bolder;
  font-family: "Updock", cursive;
  color: seagreen;
}

/* shapes */

div h2 {
  color: seagreen;
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 3em;
  font-family: "Updock", cursive;
  letter-spacing: 5px;
}

/********************* square */

div#square-shape {
  width: 150px;
  height: 150px;
  background: lightsteelblue;
  border: 2px solid red;
  display: inline-block;
}

div.square {
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 30px;
}
.square a:link {
  font-weight: bold;
  color: darkslategray;
  font-size: 1.5em;
}
.square a:visited {
  background: pink;
}
.square a:hover {
  text-decoration: none;
  text-transform: uppercase;
}

.square a:active {
  color: darkred;
}

div#square-shape {
  transform: translate(-10px, 3px);
  transform: skewX(20deg);
  transform: scale(0.5, 0.5);
}

div#square-shape:hover {
  background: rgba(255, 0, 0, 0.699);
  transform: rotate(35deg);
}

div#square-shape {
  transition: all 5s;
}

/*************** rectangle */

div#rec-shape {
  width: 150px;
  height: 150px;
  background: lightsteelblue;
  border: 2px solid red;
  display: inline-block;
}

div.rectangle {
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 30px;
}
.rectangle a:hover {
  text-decoration: none;
  text-transform: uppercase;
}

.rectangle a:link {
  font-weight: bold;
  color: darkslategray;
  font-size: 1.5em;
}

.rectangle a:active {
  color: darkred;
}

.rectangle a:visited {
  background: pink;
}

div#rec-shape {
  transform: translate(-10px, 3px);
  transform: rotate(35deg);
  transform: scale(2, 1);
}

div#rec-shape:hover {
  background: rgba(255, 0, 0, 0.699);
  transform: skewX(10deg);
}

div#rec-shape {
  transition: all 5s;
}

/******************circle */

div#circle-shape {
  width: 150px;
  height: 150px;
  background: lightsteelblue;
  border: 2px solid red;
  display: inline-block;
}

div.circle {
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 30px;
}
.circle a:hover {
  text-decoration: none;
  text-transform: uppercase;
}

.circle a:link {
  font-weight: bold;
  color: darkslategray;
  font-size: 1.5em;
}

.circle a:active {
  color: darkred;
}

.rectangle a:visited {
  background: pink;
}

div#circle-shape {
  transform: translate(-10px, 3px);
  transform: rotate(35deg);
  transform: scale(0.5, 0.5);
}

div#circle-shape:hover {
  background: rgba(255, 0, 0, 0.699);
  border-radius: 50%;
}

div#circle-shape {
  transition: all 5s;
}
